<form method="POST" action="/post/<%=@post.id%>">
  <label for="name">Name:</label>
  <input name="name" type="text" id="name" value="<%=@post.name%>">
  <label for="content">Content:</label>
  <input name="content" type="text" id="text" value="<%=@post.content%>">
  <input type="submit" value="save">
</form>
