<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cool App</title>
  </head>
  <body>
    <%= yield %>
    <a href="/new">Create<br>
    <a href="/posts">Read<br>
    <a href="/edit">Update<br>
    <a href="/delete">Delete
  </body>
</html>
