<form method="POST" action="/add">
  <h1><label for="name">Name:</label>
  <input name="name" id="name" type="text"></h1>

  <h2><label for="content">Content:</label>
  <input name="content" id="content" type="text"></h2>

  <input type="submit" value="submit">
</form>
